<%= provide(:title, "Editing #{@menu.name}") %>

<%= render 'form' %>

<div class="row row-margin">
	<%= link_to link_icon('arrow-left', 'Back'), menus_path, 
												class: btn_show('left') %>
	<%= link_to link_icon('list', 'Show'), @menu, class: btn_show('right') %>
</div>